{% extends 'base.html' %}
{% block content %}
    <style>
        .card:hover{
            width: fit-content !important;
            background-color: #eceaea;

        }
    </style>
    <!-- Header -->
    <br><br>
    </header>
    {% for product in products %}
    <div class="container">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <center>
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquam voluptas maiores dignissimos, nostrum rem. Laboriosam doloribus iste magni voluptatibus repudiandae, ut voluptates omnis sint sequi suscipit placeat id provident.</p>
                        <h2 class="card-text" >{{ product.price }}/=</h2>
                        <!-- <button class="btn btn-secondary" value="{{ product.id }}" id="add-cart">Add to Cart</button> -->
                        <button class="btn " style="margin-left: 20px;"><a><div><a class="btn btn-secondary btn-outline-light mt-auto"
                            href="{% url 'product' product.id %}">View Product</a>
                        </button>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <br><br><br><br>

{% endblock %}