{% extends 'base.html' %}
{% block content %}

    <!-- Header -->
    <br><br>
    
    </header>
    <style>
        /* body{
            /* background-color: #333; 
        } */

        #add-cart.clicked{
            background-color: rgb(226, 203, 159);
            border: none;
        }

    </style>
    <div class="container">
        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <center>
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquam voluptas maiores dignissimos, nostrum rem. Laboriosam doloribus iste magni voluptatibus repudiandae, ut voluptates omnis sint sequi suscipit placeat id provident.</p> <br>
                        <h2 class="card-text" >{{ product.price }}/=</h2>
                            <br><br>
                        <div class="row justify-content-center">
                            <div class="col-md-2">Quantity:</div>
                            <div class="col-md-2">
                            <select class="form-select form-select-sm" id="qty-cart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            </div>
                        </div>
                            <br><br>

                        <button class="btn btn-secondary butn" value="{{ product.id }}" id="add-cart" onclick="search()">Add to Cart</button>
                        <button class="btn btn-primary" style="margin-left: 20px;">view products</button>
                    </center>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
       <div class="container">
            <strike>According to your selection, you might be interested in more</strike>
       </div>
    </div>
   <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquam voluptas maiores dignissimos, nostrum rem. Laboriosam doloribus iste magni voluptatibus repudiandae, ut voluptates omnis sint sequi suscipit placeat id provident.
   </div>
    
    
    <br><br><br><br><br><br><br>

    <script>
        // check if button is pressed
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cart_add' %}",
                data: {
                    product_id: $('#add-cart').val(),
                    product_qty: $('#qty-cart option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function (json) {
                    //console.log(json);
                    document.getElementById('cart_quantity').innerHTML  = json.qty //you can use textContent = json.qty
                },

                error: function (xhr, errmsg, err) {

                }

            }); 



        });


        // Changing button text when clicked
        function search(){
            alert('Added Successfully! Go to cart to checkout...');
           var butonn = document.getElementById('add-cart');
           butonn.classList.add('clicked');  //this is the css class in #add-cart.clicked
           butonn.innerHTML = 'Added';
        }; 

        

    </script>


{% endblock %}