<!-- FILEPATH: /C:/Users/User/Desktop/malik/project/env/Drulimited/druu/templates/about.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>About Us</title>
</head>
<body>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Dru-Enterprises</h1>
                <p class="lead fw-normal text-white-50 mb-0">Partners, Services, Terms & Conditions and more ...</p>
            </div>
        </div>
    </header>
    <br><br>
    <div class="container ">
        <h1>About Us</h1>
        Dedicated to make me
        <h2>Location</h2>
        <p>Our store is located at [insert location here].</p>

        <h2>Hours of Operation</h2>
        <p>We are open for work from [insert opening time] to [insert closing time] every day.</p>

        <h2>Delivery Services</h2>
        <p>We offer delivery services to [insert delivery areas].</p>

        <h2>Partners</h2>
        <ul>
            <li>[Partner 1]</li>
            <li>[Partner 2]</li>
            <li>[Partner 3]</li>
            <!-- Add more partners as needed -->
        </ul>

        <h2>The Team</h2>
        <ul>
            <li>[Team member 1]</li>
            <li>[Team member 2]</li>
            <li>[Team member 3]</li>
            <!-- Add more team members as needed -->
        </ul>

        <h2>All Team Members</h2>
        <div class="team-images">
            <!-- Add space for images of the team members here -->
        </div>
    </div>
    <br><br><br><br><br><br>
    
{% endblock %}