/* Default styles for larger screens */

* {
  list-style: none;
  text-decoration: none !important;
}

body {
  padding-top: 60px;
}

nav {
  display: flex !important;
  justify-content: space-around !important;
  background-color: #333;
  height: 60px;
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 1;
}


.card {
  border: none !important;
}


.nav-list {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

.nav-unorder {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-unorder li:hover a {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

/* footer */
.footer-edit {
  position: absolute;
  /* bottom: auto;   */
  width: 100%;
}

@media only screen and (max-width: 767px) {
  /* Side-nav */

  .nav-unorder {
    display: none; /* Initially hide the nav items on smaller screens */
    flex-direction: column; /*nav list items*/
    background-color: #333;
    top: 0;
    justify-content: center;
    margin-right: 30%;
    padding-bottom: 100%;
  }

  .nav-unorder.show {
    display: flex; /*Displaythe nav items when the "show" class is added */
  }

  .nav-unorder li {
    margin-bottom: 30px;
    /* margin-right: 0; */
    /* text-align: center; */
    margin-left: 30%;
  }

  .nav-unorder form {
    margin-left: 30%;
    margin-bottom: 30px;
  }

/* default for smaller screen */

* {
  margin: 0;
  padding: 0;
  /* user-select: none; */
}

/* dru enterprises title for all screens */
.nav-list h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

/* page name color h1*/
.d {
  color: rgb(171, 222, 222);
}
.l {
  color: rgb(142, 161, 161);
}

#toggle {
  background-color: burlywood;
}

}