/* Default styles for larger screens */


.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}


.nav-unorder {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-unorder li:hover a{
   color: black;
   background-color: white;
   border-radius: 10px;
   padding: 10px;
}


/* footer */
.footer-edit{
    position: absolute;
    /* bottom: auto;   */
    width: 100%;
    /* height: auto; Adjust this value to match the height of your footer */
    /* background-color: #f4f4f4; */
}




/* going to smaller screens */
/* Media query for smaller screens 
form 411 t0 767px

 */
@media only screen and (max-width: 767px) {
    .nav-unorder { 
        display: none; /* Initially hide the nav items on smaller screens */
        flex-direction: column;  /*nav list items*/ 
      } 

    .nav-unorder.show {
        display: flex;  /*Displaythe nav items when the "show" class is added */
    }

    .nav-unorder li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .toggle-button {
        display: block;
        margin-top: 10px; 
    }

    ul li a {
        text-decoration: none;
        color: #fff;

    }

}
    /* Add any additional styles for smaller screens here */




/* Smallest screens */
@media only screen and (max-width: 410px) {
    /* body{
        /* background-color: red !important;
    } */
    /* ul.nav-unorder.show li{
       /* margin: 100px 0px;  display: inline-flex;
        */
        
    /* } */ 
}
