/* default for smaller screen */

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

.card:hover{
    width: 180px !important;
}   

nav ul {
    display: none;
}

/* menu button */
#toggle {
    margin-right: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: all .5s;

}

/* dru enterprises title for all screens */
.nav-list h1{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}


.nav-list img {
    width: 30px;
    padding-right: 10px;
    /* padding-top: 10px;*/
    
}


/* going to higher screen */
/* starting from 768 and above 1024 */
@media only screen and (min-width: 768px){
    
    .nav-list {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        
    }
    nav ul {
        display: block;
        list-style: none;
        display: flex;
        padding: 10px;
        margin: 0 30px;
    }
    nav li {
        padding: 10px;
    }

    ul li a {
        text-decoration: none;
        color: #fff;

    }
    
    #toggle {
        display: none;
    }
    
}


/* larger screens */
@media only screen and (min-width: 1025px){
    nav ul {
        padding: 10px;
        margin: 0 30px;
    }
}